@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type="date"],
input[type="datetime-local"] {
    position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.scoreboard .btn {
    font-size: 1.35rem;
}

.animate-none-all * {
    animation: none;
}

iframe[src*=youtube] {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
